### Paycheck Protection Program

Let's analyze **an excerpt** from  <a href="https://www.sba.gov/funding-programs/loans/covid-19-relief-options/paycheck-protection-program">SBA's PPP loan data</a>.

The file we're working on is an excerpt (ingested via a link below) so we can't draw any hypothesis from our findings in this homework.

In [35]:
## import library
import pandas as pd

In [34]:
## Ingest remote data
df = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/ppp_excerpt.csv")
df

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
0,9547507704,05/01/2020,464,PPP,"SUMTER COATINGS, INC.",2410 Highway 15 South,Sumter,NaN,29150-9662,12/18/2020,...,Corporation,19248,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN,"773,553",11/20/2020
1,9777677704,05/01/2020,464,PPP,"PLEASANT PLACES, INC.",7684 Southrail Road,North Charleston,NaN,29420-9000,09/28/2021,...,Sole Proprietorship,19248,Synovus Bank,COLUMBUS,GA,Male Owned,Non-Veteran,NaN,"746,336",08/12/2021
2,5791407702,05/01/2020,1013,PPP,BOYER CHILDREN'S CLINIC,1850 BOYER AVE E,SEATTLE,NaN,98112-2922,03/17/2021,...,Non-Profit Organization,9551,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,Y,"696,677",02/10/2021
3,6223567700,05/01/2020,920,PPP,KIRTLEY CONSTRUCTION INC,1661 MARTIN RANCH RD,SAN BERNARDINO,NaN,92407-1740,10/16/2021,...,Corporation,9551,"Bank of America, National Association",CHARLOTTE,NC,Male Owned,Non-Veteran,NaN,"395,264",09/10/2021
4,9662437702,05/01/2020,101,PPP,AERO BOX LLC,NaN,NaN,NaN,NaN,08/17/2021,...,NaN,57328,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN,"370,819",04/08/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3857047706,05/01/2020,1084,PPP,NORTHERN ALASKA CONTRACTORS LLC,3610 MERE CIRCLE,ANCHORAGE,AK,99502,07/13/2021,...,Limited Liability Company(LLC),12096,"Wells Fargo Bank, National Association",SIOUX FALLS,SD,Unanswered,Unanswered,NaN,"372,876",06/22/2021
996,6411717106,04/14/2020,1084,PPP,"L&M EQUIPMENT, INC.",PO BOX 241,NAKNEK,AK,99633,04/27/2021,...,Corporation,3386,First National Bank Alaska,ANCHORAGE,AK,Male Owned,Non-Veteran,NaN,"360,636",12/17/2020
997,6297468301,01/26/2021,1084,PPS,EL CAPITAN LODGE LLC,1 Sarkar Rd.,Sarkar Cove,AK,99921,NaN,...,Limited Liability Company(LLC),59358,"BOKF, National Association",TULSA,OK,Male Owned,Non-Veteran,NaN,"372,821",06/07/2022
998,6226697002,04/06/2020,1084,PPP,WASILLA DRIVE-IN LLC,2051 E. Sun Mountain Ave.,WASILLA,AK,99654-7351,08/19/2021,...,Limited Liability Company(LLC),116975,Northrim Bank,ANCHORAGE,AK,Unanswered,Unanswered,NaN,"372,315",07/22/2021
999,3933197207,04/27/2020,1084,PPP,"TRIVERUS, LLC",1960 S Eklutna St,Palmer,AK,99645,07/20/2021,...,Limited Liability Company(LLC),116975,Northrim Bank,ANCHORAGE,AK,Male Owned,Non-Veteran,NaN,"371,222",06/02/2021

In [33]:
## Fixing display to remove decimals
pd.options.display.float_format = '{:,.0f}'.format

In [32]:
## get info about data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 53 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   LoanNumber                   1000 non-null   int64
 1   DateApproved                 1000 non-null   object
 2   SBAOfficeCode                1000 non-null   int64
 3   ProcessingMethod             1000 non-null   object
 4   BorrowerName                 1000 non-null   object
 5   BorrowerAddress              992 non-null    object
 6   BorrowerCity                 992 non-null    object
 7   BorrowerState                987 non-null    object
 8   BorrowerZip                  992 non-null    object
 9   LoanStatusDate               916 non-null    object
 10  LoanStatus                   1000 non-null   object
 11  Term                         1000 non-null   int64
 12  SBAGuarantyPercentage        1000 non-null   int64
 13  InitialApprovalAmount        1000 non-null   float64
 14  CurrentApprovalAmount        1000 non-null   float64
 15  UndisbursedAmount            1000 non-null   int64
 16  FranchiseName                34 non-null     object
 17  ServicingLenderLocationID    1000 non-null   int64
 18  ServicingLenderName          1000 non-null   object
 19  ServicingLenderAddress       1000 non-null   object
 20  ServicingLenderCity          1000 non-null   object
 21  ServicingLenderState         1000 non-null   object
 22  ServicingLenderZip           1000 non-null   object
 23  RuralUrbanIndicator          1000 non-null   object
 24  HubzoneIndicator             1000 non-null   object
 25  LMIIndicator                 1000 non-null   object
 26  BusinessAgeDescription       1000 non-null   object
 27  ProjectCity                  992 non-null    object
 28  ProjectCountyName            992 non-null    object
 29  ProjectState                 992 non-null    object
 30  ProjectZip                   992 non-null    object
 31  CD                           992 non-null    object
 32  JobsReported                 1000 non-null   int64
 33  NAICSCode                    999 non-null    float64
 34  Race                         1000 non-null   object
 35  Ethnicity                    1000 non-null   object
 36  UTILITIES_PROCEED            413 non-null    float64
 37  PAYROLL_PROCEED              998 non-null    float64
 38  MORTGAGE_INTEREST_PROCEED    38 non-null     float64
 39  RENT_PROCEED                 147 non-null    float64
 40  REFINANCE_EIDL_PROCEED       1 non-null      float64
 41  HEALTH_CARE_PROCEED          77 non-null     float64
 42  DEBT_INTEREST_PROCEED        20 non-null     float64
 43  BusinessType                 993 non-null    object
 44  OriginatingLenderLocationID  1000 non-null   int64
 45  OriginatingLender            1000 non-null   object
 46  OriginatingLenderCity        1000 non-null   object
 47  OriginatingLenderState       1000 non-null   object
 48  Gender                       1000 non-null   object
 49  Veteran                      1000 non-null   object
 50  NonProfit                    99 non-null     object
 51  ForgivenessAmount            935 non-null    float64
 52  ForgivenessDate              935 non-null    object
dtypes: float64(11), int64(8), object(34)
memory usage: 414.2+ KB

### ```.agg()```

- Use the ```.agg()``` that allows you call specific summary statistics at one time.

In [9]:
## get the count, mean and median for CurrentApprovalAmount
df["CurrentApprovalAmount"].agg(["count", "mean", "median"])

count      1,000
mean     964,704
median   631,722
Name: CurrentApprovalAmount, dtype: float64

In [10]:
## What summary statistics for the CurrentApprovalAmount by Race?
## if you get scientific notation, round it by running the display option that changes the default display
## run the display code here
df.groupby ("Race")["CurrentApprovalAmount"].sum()

Race
American Indian or Alaska Native     3,123,725
Asian                                9,282,996
Black or African American            5,608,920
Unanswered                         811,802,131
White                              134,885,776
Name: CurrentApprovalAmount, dtype: float64

In [19]:
## describing in case that's what you wanted instead of sum
df.groupby ("Race")["CurrentApprovalAmount"].describe()

,count,mean,std,min,25%,50%,75%,max
Race,,,,,,,,
American Indian or Alaska Native,6,"520,621","56,285","430,692","499,903","520,926","556,745","589,600"
Asian,14,"663,071","199,145","391,065","528,636","620,412","814,081","1,026,382"
Black or African American,5,"1,121,784","1,132,880","452,700","453,197","674,223","908,700","3,120,100"
Unanswered,818,"992,423","1,004,564","155,010","469,052","641,832","1,060,736","9,538,531"
White,157,"859,145","661,508","368,300","439,273","582,532","997,500","3,776,300"

## ```groupby```

In [20]:
## What is the sum, mean and count for the current 
## approval amount for owners by race 
## sort of cofused, who are the owner? not seeing a section that rekates
df.groupby ("Race")["InitialApprovalAmount"].agg(["count", "mean"])

                                  count      mean
Race
American Indian or Alaska Native      6   520,621
Asian                                14   663,071
Black or African American             5 1,121,784
Unanswered                          818   983,476
White                               157   827,087

## What question(s) might you ask based on this result?

List answer(s):

================================

In [28]:
## What is the sum and mean for the ForgivenessAmount amount for owners by gender
df.groupby ("Race")["ForgivenessAmount"].agg(["sum", "mean"])

                                         sum      mean
Race
American Indian or Alaska Native   2,443,677   488,735
Asian                              8,733,327   671,794
Black or African American          5,662,037 1,132,407
Unanswered                       711,023,837   933,102
White                            125,775,918   838,506

In [36]:
## What is the sum, mean and count for the current 
## approval amount for owners by race and gender
#not sure why it isnt working
df.groupby("Race","Gender")[["CurrentApprovalAmount"]].sum().agg(["sum","mean","count"])

ValueError: No axis named Gender for object type DataFrame

## What is the sum, mean and count for the current 
## approval amount for owners by gender and race
This is the same question as before

## What question(s) might you ask about the unanswered categories?:
List answer(s) here:

## not too sure what you're asking here.

Perhaps ask which caterogies had the most unanswered responses, since they are likely to have more of a data affect from having people not answer